apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: {{ mcp.name }}
spec:
  machineConfigSelector:
    matchExpressions:
      - {key: machineconfiguration.openshift.io/role, operator: In, values: [worker,{{ mcp.name }}]}
  maxUnavailable: {{ mcp.maxUnavailable }}
  nodeSelector:
    matchLabels:
      {{ mcp.label.key }}: {{ mcp.label.value }}
  paused: false