apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: {{ mitem.name }}
spec:
  machineConfigSelector:
    matchExpressions:
      - {key: machineconfiguration.openshift.io/role, operator: In, values: [worker,{{ mitem.name }}]}
  maxUnavailable: {{ mitem.maxUnavailable }}
  nodeSelector:
    matchLabels:
      {{ mitem.label.key }}: {{ mitem.label.value }}
  paused: false