- name: Fail if acm_hub_kubeconfig is not Defined
  fail:
    msg: "acm_hub_kubeconfig is not defined!"
  when:
    - acm.acm_hub_kubeconfig is not defined

- name: Create ManagedCluster Resource
  k8s:
    kubeconfig: "{{ acm.acm_hub_kubeconfig }}"
    state: present
    definition:
      apiVersion: cluster.open-cluster-management.io/v1
      kind: ManagedCluster
      metadata:
        labels:
          cloud: "{{ spoke.cloud | default('auto-detect') }}"
          vendor: "{{ spoke.vendor | default('auto-detect') }}"
          name: "{{ spoke.name }}"
        name: "{{ spoke.name }}"
      spec:
        hubAcceptsClient: true
  register: managedcluster
  loop: "{{ acm.spokes }}"
  loop_control:
    loop_var: spoke
  tags:
    - acm-add-spoke
  
- name: Create KlusterletAddonConfig Resource
  k8s:
    kubeconfig: "{{ acm.acm_hub_kubeconfig }}"
    state: present
    definition:
      apiVersion: agent.open-cluster-management.io/v1
      kind: KlusterletAddonConfig
      metadata:
        name: "{{ spoke.name }}"
        namespace: "{{ spoke.name }}"
      spec:
        clusterName: "{{ spoke.name }}"
        clusterNamespace: "{{ spoke.name }}"
        clusterLabels:
          cloud: "{{ spoke.cloud | default('auto-detect') }}"
          vendor: "{{ spoke.vendor | default('auto-detect') }}"
        applicationManager:
          enabled: "{{ spoke.applicationManager | default(true) }}"
        policyController:
          enabled: "{{ spoke.policyController | default(true) }}"
        searchCollector:
          enabled: "{{ spoke.searchController | default(true) }}"
        certPolicyController:
          enabled: "{{ spoke.certPolicyController | default(true) }}"
        iamPolicyController:
          enabled: "{{ spoke.iamPolicyController | default(true) }}"
        version: "2.0"
  register: klusterletaddonconfig
  loop: "{{ acm.spokes }}"
  loop_control:
    loop_var: spoke
  tags:
    - acm-add-spoke

- name: Gather Installation Payloads
  k8s_info:
    kubeconfig: "{{ acm.acm_hub_kubeconfig }}"
    api_version: v1
    kind: Secret
    name: "{{ spoke.name }}-import"
    namespace: "{{ spoke.name }}"
  register: payloads
  loop: "{{ acm.spokes }}"
  loop_control:
    loop_var: spoke
  tags:
    - acm-add-spoke

- name: Debug CRDs
  debug:
    msg: "{{ payload.resources[0].data['crds.yaml'] | b64decode }}"
  when:
    - ansible_verbosity >= 1
  loop: "{{ payloads.results }}"
  loop_control:
    loop_var: payload
  tags:
    - acm-add-spoke

- name: Debug Import Payload
  debug:
    msg: "{{ payload.resources[0].data['import.yaml'] | b64decode }}"
  when:
    - ansible_verbosity >= 1
  loop: "{{ payloads.results }}"
  loop_control:
    loop_var: payload
  tags:
    - acm-add-spoke

- name: Configure Spoke Clusters - CRDs
  k8s:
    kubeconfig: "{{ item.0.kubeconfig }}"
    state: present
    resource_definition: "{{ item.1.resources[0].data['crds.yaml'] | b64decode | from_yaml_all | list }}"
  with_together:
    - "{{ acm.spokes }}"
    - "{{ payloads.results }}"
  tags:
    - acm-add-spoke

- name: Configure Spoke Clusters - Import
  k8s:
    kubeconfig: "{{ item.0.kubeconfig }}"
    state: present
    resource_definition: "{{ item.1.resources[0].data['import.yaml'] | b64decode | from_yaml_all | list }}"
  with_together:
    - "{{ acm.spokes }}"
    - "{{ payloads.results }}"
  tags:
    - acm-add-spoke