apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ tls_secret.name }}
  namespace: {{ tls_secret.namespace }}
data:
  tls.crt: {{ tls_secret.cert | b64encode }}
  tls.key: {{ tls_secret.key | b64encode }}