apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ tls_secret.name }}
  namespace: {{ tls_secret.namespace }}
  labels:
{% if tls_secret.labels is defined %}
{% for label in tls_secret.labels %}
    {{ label.key }}: {{ label.value }}
{% endfor %}
{% endif %}
data:
  tls.crt: {{ tls_secret.crt }}
  tls.key: {{ tls_secret.key }}