apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ registry.pvc_name }}
  namespace: openshift-image-registry
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ registry.pvc_size }}
  storageClassName: {{ registry.pvc_storage_class }}